body {
  background-image: url('media/bakgrunn.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#startPageImage {
width: 100%;
height: auto;
display: block;
margin: 0 auto;
}

.button-container {
position: absolute;
top: 0;
left: 0;
margin: 10px;
z-index: 2;
}

button {
background-color: #ff69b4;
color: white;
padding: 10px 20px;
border: 2px solid white;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
background-color: #ff85c1;
border-color: #ff85c1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #ff69b4;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 80vh;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#petOptions {
display: flex;
justify-content: center;
flex-wrap: nowrap;
gap: 10px;
}

.petOption {
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s; 
  margin: 10px;
}

.petOption:hover {
  transform: scale(1.1); 
  border: 2px solid #ff85c1; 
}

.petOption.selected {
  border: 3px solid #ff85c1; 
  border-radius: 5px; 
}

#petDisplayArea {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pet-display {
  text-align: center;
}

.displayed-pet-image {
  width: 100px; 
  height: auto;
}

.displayed-pet-image {
  width: 150px; 
  height: auto;
  display: block; 
  margin: 0 auto; 
}

.pet-image {
  width: 300px; 
  height: auto;
  display: block;
  margin: 20px auto; 
  margin-top: 210px;
}


.pet-name {
  background-color: white;
  border: 4px solid #ff69b4; 
  color: black;
  padding: 10px;
  border-radius: 20px; 
  font-size: 20px; 
  text-align: center;
  display: block;
  margin: 0 auto; 
  width: fit-content;
  margin-top: -50px;
  font-family: 'Quicksand', sans-serif; 
}


#petDisplayArea {
  
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px; 
}

.my-info-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ff69b4; 
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.my-info-button img {
  width: 30px; 
  height: auto;
}


.closeMyInfo:hover,
.closeMyInfo:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pet-image {
  width: 400px; 
  height: auto;
  display: block;
  margin: 40px auto; 
  margin-top: 200px; 
}


.userInfo, .petInfo {
  font-size: 20px; 
  font-weight: bold; 
}


#userPetName, #userPetType {
  font-size: 20px; 
  font-weight: bold; 
}

.my-info-pet-image {
  width: 300px; 
  height: auto; 
}


.modal-flex-container {
  display: flex;
  height: 400px;
  justify-content: space-between;
  align-items: start; 
}

#modalLeft {
  flex: 1; 

  padding: 10px;
}

#modalRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 10px;
}

#userPetInfo {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}

#userInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; 
  padding-top: 50px; 
}

#userInfoName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 100px;
}

#userInfoEmail {
  font-size: 20px;
  font-weight: bold;
  
}

.input-group {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.editButton {
 
  cursor: pointer;
  padding: 5px 10px; 
  background-color: #ff69b4; 
  border: 1px solid white; 
  border-radius: 5px; 
}

input[type="text"], input[type="password"], select {
  flex-grow: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

