body {
  background-image: url('media/bakgrunn.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#startPageImage {
width: 100%;
height: auto;
display: block;
margin: 0 auto;
}

.button-container {
position: absolute;
top: 0;
left: 0;
margin: 10px;
z-index: 2;
}

button {
background-color: #ff69b4;
color: white;
padding: 10px 20px;
border: 2px solid white;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
background-color: #ff85c1;
border-color: #ff85c1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #ff69b4;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 80vh;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#petOptions {
display: flex;
justify-content: center;
flex-wrap: nowrap;
gap: 10px;
}

.petOption {
  width: 100px; /* Adjusted for visibility */
  height: auto;
  cursor: pointer;
  transition: transform 0.2s; /* Smooth transformation */
  margin: 10px; /* Ensure some space around images */
}

.petOption:hover {
  transform: scale(1.1); /* Slightly increase size */
  border: 2px solid #ff85c1; /* Pink border for consistency with your theme */
}

.petOption.selected {
  border: 3px solid #ff85c1; /* Example: bright pink border */
  border-radius: 5px; /* Rounded corners */
}

#petDisplayArea {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pet-display {
  text-align: center;
}

.displayed-pet-image {
  width: 100px; /* Adjust as needed */
  height: auto;
}

